section {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 17px;
}

#informacoes {
  align-self: center;
  margin: 0 0 0 50px;
  width: 500px;
  order: 2;
}

#foto {
  order: 1;
}
